#if ($definition)
  <h1>$definition.getDefinition()</h1>
#else
  <h1>Definition not found</h1>
#end

<h3><a href="/definitions/new">Add Another Definition</a></h3>
<h3><a href="/definitions">All Definitions</a></h3>
