<h1>All Definitions</h1>

<ul>
  #foreach ($definition in $definitions)
  <li><a href="/definitions/$definition.getId()">$definition.getDefinition()</a></li>
  #end
</ul>

<a href="/definitions/new">Add New Definition</a>
