<div class="title">
  <h1>Make Your Very Own Study Guide!</h1>
  <h2>With this web app you can easily set up a study guide for your next science exam, or just add words and definitions for any subject you want to learn about and quiz yourself on!</h2>
</div>

<h3><a href="/words">View List of Words</a></h3>
<h3><a href="/words/new">Add a New Word</a></h3>
