<h1>Add a Word</h1>

<h2>What word would you like to add?</h2>

<form action="/words" method="post">
  <label for="word"></label>
  <input id="word" name="word" type="text">
  
  <div>
    <button type="submit" class="btn btn-warning">Add Word</button>
  </div>
</form>
