<h1>Add a Word</h1>

<form action="/words" method="post">
  <label for="word">What word would you like to add?</label>
  <input id="word" name="word" type="text">

  <button type="submit" class="btn btn-success">Add Word</button>
</form>
